.CartLink {
    display: inline-block;
    text-decoration: none;
  }

  .cardinner{
    position: relative;
    width: 100%;
    height: 19.75rem;
    background: #fff;
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    overflow: hidden;
}
 .box{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 1.25rem;
    overflow: hidden;

}


.box .img-holder{
    position: absolute;
    inset: 0;
}

.box .img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .icon{
    position: absolute;
    bottom: -0.375rem;
    right: -0.375rem;
    width: 6rem;
    height: 6rem;
    background: #fff;
    border-top-left-radius: 50%;
}



 .box .icon::before {
    position: absolute;
    content: "";
    bottom: 0.375rem;
    left: -1.25rem;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

  .box .icon::after {
    position: absolute;
    content: "";
    top: -1.25rem;
    right: 0.375rem;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}
 .box .icon .iconbox{
    position: absolute;
    inset: 0.625rem;
    box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}
 .box .iconbox{
    background: #771011;

}

.box .iconbox:hover{
    transform: scale(1.1);
}


.content ul {
    margin:0;
    margin-top: 15px;
    padding: 0px ;
    list-style-type: none;
    display: flex;
    
    gap:10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.content ul li {
    text-transform: uppercase;
    background: #771011;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 0.188rem;
}


.shimmer {
    position: absolute;
    inset: -40px;
    border-radius: inherit;
    mix-blend-mode: color-dodge;
    mix-blend-mode: plus-lighter;
    pointer-events: none;
}

.shimmer:before,
.shimmer:after {
    transition: all 0.5s ease;
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 40px;
}
.shimmer:before {
    box-shadow: 0 0 3px 2px hsl(#771011a3 20% 95%),
        0 0 7px 4px hsl(#771011a3  20% 80%),
        0 0 13px 8px hsl(var(--shimmer-hue-2) 40% 60%),
        0 0 22px 6px hsl(var(--shimmer-hue-2) 20% 40%);
    z-index: -1;
}
.shimmer:after {
    box-shadow: inset 0 0 0 1px hsl(var(--shimmer-hue-2) 70% 95%),
        inset 0 0 3px 1px hsl(var(--shimmer-hue-2) 100% 80%),
        inset 0 0 9px 1px hsl(var(--shimmer-hue-2) 100% 70%);
    z-index: 2;
}

.iconbox[disabled] {
    background: rgb(76 76 92);
    background-image: none;
}
.iconbox:hover:not(:active):not([disabled]) {
    
    transition-duration: calc(var(--spring-duration)*0.5);
}
.iconbox:active:not([disabled]) {
    
    transition-duration: calc(var(--spring-duration)*0.5);
}
.iconbox:focus .shimmer,
.iconbox:active .shimmer {
    animation-play-state: paused!important;
    mask-image: none!important;
}
.iconbox:hover:not([disabled]),
.iconbox:hover:not([disabled]) .shimmer:before,
.iconbox:hover:not([disabled]) .shimmer:after {
    opacity: 1;
}

.iconbox:not([disabled]) .shimmer {
    mask-image: conic-gradient(
        from var(--mask, 0deg),
        transparent 0%,
        transparent 10%,
        black 36%,
        black 45%,
        transparent 50%,
        transparent 60%,
        black 85%,
        black 95%,
        transparent 100%
    );
    mask-size: cover;
    animation: spin 3s linear infinite both -0.5s;
}
.iconbox:not([disabled])[data-effect=wipe] .shimmer {
    mask-image: linear-gradient(
        90deg, transparent 20%, black 88%, transparent 90%
    );
    mask-size: 200% 200%;
    mask-position: center;
    animation: wipe 1.5s linear infinite both -0.5s;
}
.iconbox:not([disabled])[data-effect=wave] .shimmer {
    mask-image: linear-gradient(
        90deg, transparent 15%, black 45%, black 55%, transparent 85%
    );
    mask-size: 200% 200%;
    mask-position: center;
    animation: wipe 3s linear infinite both -0.5s;
}
.iconbox:not([disabled])[data-effect=throb] .shimmer {
    mask-image: none;
    animation: pulse 3s ease infinite both  -0.5s;
}
.iconbox:not([disabled])[data-effect=pulse] .shimmer {
    mask-image: none;
    animation: pulse2 3s ease infinite both  -0.5s;
}
.iconbox:not([disabled])[data-effect=flicker] .shimmer {
    mask-image: none;
    animation: flicker 3.33s ease infinite both  -0.5s;
}


.cardShopAdd{
    padding-left:40px ;
}

.maximumNotice{
    padding:5px 0px;
}
.wishlistBtn{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fefefe;
}