

.imageholder{
    top:354px;
    animation: 10s linear 2s infinite topchange;

}

@keyframes  topchange{
0%{
    top:200px;
}
25%{
    top:0px;
}
50%{
    top:-200px;
}
75%{
    top:-400px;
}
100%{
    top:200px;
}
}
.loginform input{
    width: 60%;
    padding: 20px;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.192);
}
 
 .loginform input:focus {
  color: black;
  background-color: white;
  box-shadow: -3px -3px 15px #771101;
  transition: .1s;
 
}
.loginform input::placeholder{
    color:#777;
}

.phone::placeholder{
 color:#777;
}
.orhlder{
    width:15%;
position:relative;
}
.orhlder::before{
content:"";
position: absolute;
width: 60px;
height: 5px;
background-color: #ddd;
left: 0px;
top: 50%;
}
.orhlder::after{
    content:"";
    position:absolute;
    width: 60px;
    height: 5px;
    background-color: #ddd;
    right: 0px;
    top: 50%;
}